.DS_Store
**/__pycache__/**
output/**
/build
/.vscode
/jobs
reconstruction
.venv
/venv
/.idea
/src/cost_functions.cpython-38-x86_64-linux-gnu.so
/src/ply_export.cpython-38-x86_64-linux-gnu.so
**/target/**
server/rust/server-bin/jobs
server/rust/data
TODO.md
AUDIT.md
IMPLEMENTATION.md
